*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 62);


}
.children{
    height: 500px;
    width: 500px;
     background-color: black;
    text-align: center;
   box-shadow:  rgb(255, 0, 0) 0px 54px 55px,  rgb(255, 0, 0)  0px -12px 30px,  rgb(255, 0, 0)  0px 4px 6px, rgb(255, 0, 0) 0px 12px 13px,  rgb(255, 0, 0)  0px -3px 5px;
    border-radius: 8px;
}
.container img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: rgba(255, 9, 9, 0.893) 0px 3px 8px;

}
.container img:hover {
    cursor: not-allowed;
} 
h3{
    margin-bottom: 15px;
    color: aliceblue;
}
.bio{
    margin-bottom: 15px;
    color: gray;
    font-size: 15px;


} 
.role{
    margin: 15px 0px;
    color: rgb(192, 194, 194);
} 
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    font-size: 5rem;

 }
 .images a{
    height: 20px;
    color: red;
    font-size: 15px;
    transition: 2s;
 }
 .images a:hover{
    color: rgb(169, 7, 7);
 } 
 .btn{
    background-color: white;
    height: 50px;
    width: 250px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
   
 } 
 .btn:hover{
   
    background-color:rgba(255, 255, 255, 0.482) ;
    transform: rotateY(360deg);
    transition: 2s;
 }                                                                                                 